/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  overflow-x: auto;
}

.hljs,
.tag,
.subst {
  color: #905;
}

.comentario{
  color: slategray;
}

.attr{
  color: #690;
}

.valor{
  color: #07a;
}

.string{
	color: #515151;
}