// Variables Generales del framework Zurix

//Fuentes o Fonts. Agregue el @import de Google-Fonts o bien su fuente personalizada
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);

// Ancho máximo que puede alcanzar el contenedor principal o papá.
$max-width: 1200px;

// Valor de la separación entre hijos o items.
$padding: 15px;

// Tamaños, puede modificar,borrar o añadir los nombres y valores por default para 
// ajustarse a sus puntos de quiebre o medias querys personalizados.
$breakpoints: (
  mini   : 270px,
  movil  : 480px,
  tablet : 768px,
  web    : 1024px,
  hd     : 1400px
);

$mini   : 270px;
$movil  : 480px;
$tablet : 768px;
$web    : 1024px;
$hd     : 1400px;

// Fracciones para designar la anchura de los contenedores hijos.
// Se pueden editar.
$fracciones: (
  tercios : 3,
  sextos  : 6,
  octavos : 8
);

// Muestras de colores
  $blanco : #FDFDFD;
  $negro  : #070D12;

// Estilos básicos.
  $body-background  : $blanco;                   // Color de fondo para el body.
  $body-font        : 'Open Sans', sans-serif;   // Tipo de fuente predeterminada.
  $body-color       : #333;                      // Color de texto base.

// Estilo para los títulos
  $header-font           : 'Open Sans', sans-serif;  // Tipografía para los títulos (h1,h2,h3...)
  $header-font-weight    : normal;                  // Espesura de la letra de los títulos.
  $header-text-transform : normal;                   // normal, uppercase, lowercase, capitalize
  $header-color          : $negro;                  // Color designado para los títulos.

// Tamaño de títulos
  $h1-font-size : 2em;
  $h2-font-size : 1.7em;
  $h3-font-size : 1.4em;
  $h4-font-size : 1.1em;
  $h5-font-size : 1em;
  $h6-font-size : 0.9em;

// Estilo para los enlaces <a>
  $link-color : #2d2d2d;        // Color.

// Estilos párrafos
  $p-font-size   : 1em;        // Tamaño.
  $p-line-height : 1.5;        // Altura de línea.
  $p-margin      : 1.5em;      // Margen o separación.

//Estilos para personalizar los menus
  $background-content       : #FDFDFD;              // Color del contenedor del menú.
  $background-menu          : #FDFDFD;              // Color del menú principal.
  $color-links              : #444;                 // Color de los links <a>.
  $background-link-hover    : rgba(#2d2d2d,0.1);    // Color del hover de los links.
  $background-menu-anidado  : rgba(#2d2d2d,0.1);    // Color de los sub-menus.

// Módulos de Zurix
//NOTA: para mejorar el rendimiento del framework desactive los módulos que no se usaran
//aplicando doble slash "//" antes de @import.
@import "modulos/core";        // Núcleo base de Zurix.
@import "modulos/base";        // Estilos base a elementos html sin clases o id
@import "modulos/mixins";      // Mixins
@import "modulos/flexbox";     // Flexbox
@import "modulos/desarrollo";  // Modo desarrollo
@import "modulos/visibilidad"; // Controlar la visibilidad de elementos
@import "modulos/utilidades";  // Utilidades adicionales
@import "modulos/video";       // Videos responsive
@import "modulos/menu";        // Zurix menu
@import "modulos/icon-fonts";  // Icon fonts
@import "modulos/offset";      // Offset
@import "modulos/tablas";      // Tablas 