$text-main-base:   15px 
$text-main-movil:  16px
$text-main-tablet:  17px
$text-main-web:     17px

$title-main-base:   14px
$title-main-movil:  14px
$title-main-tablet: 14px
$title-main-web:    14px

h3
    font-size: 25px
    font-weight: 400
h4
    font-size: 20px
h5
    font-weight: 600
    font-size: 17px
a
    color: $lila
    transition: all 0.2s linear
ul
    padding-left: 15px
img
    margin: 2em 0em

.main
    margin-bottom: 1em
    p,ul
        font-size: $text-main-base
        font-weight: 300
        color: rgba(0,0,0,0.71)
        letter-spacing: 0.5px
        line-height: 1.55

.nav
    width: 210px
    position: fixed
    background: $blanco
    z-index: 30
    top: 0
    bottom: 0
    left: -250px
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
    transition: left .6s cubic-bezier(.19,1,.22,1)
    &__logo
        transition: all 0.2s linear
        &:hover
            opacity: 0.7
    &__ul
        padding: 0
        margin-bottom: 2em
        li
            &:hover > ul
                max-height: 250px
                transition: max-height 0.50s ease-in
            &:focus > ul
                max-height: 250px
                transition: max-height 0.50s ease-in
    &__ul2
        max-height: 0
        transition: max-height 0.50s ease-out
        overflow: hidden
        padding: 0
        a
            margin-left: 13px
    &__a
        font-size: 13px
        height: 44px
        line-height: 44px
        display: block
        padding: 0 30px
        color: #444
        font-weight: bold
        cursor: pointer
        transition: all 0.1s linear
        &:hover
            background: rgba(#2d2d2d,0.1)

.caract-wrap
    border-bottom: 1px dashed #cacaca
    margin: 2em 0em
    margin-bottom: 3em

.caracteristicas
    padding: 0
    margin: 2em 0
    text-align: center
    h3
        font-size: 22px
        font-weight: 500
        margin: 0.5em 0
        line-height: 2.5
    p
        max-width: 350px
        margin: 0 auto
    &__icon
        font-size: 60px
        color: $lila

.btn-download
    color: #fff
    background-color: #26a69a
    text-align: center
    letter-spacing: .5px
    transition: .2s ease-out
    cursor: pointer
    border: none
    border-radius: 2px
    display: inline-block
    height: 36px
    line-height: 36px
    outline: 0
    padding: 0 2rem
    text-transform: uppercase
    vertical-align: middle
    -webkit-tap-highlight-color: transparent
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
    &:hover
        background: #2bbbad
        box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.16), 0 5px 10px 0 rgba(0, 0, 0, 0.12)
    &__download
        margin-left: 10px

.link-pre
    &:hover
        text-decoration: underline

.titulo
    color: #ba68c8

.titulo2
    color: #26a69a
    font-weight: 500

.ejemplo-grid
    div
        background: #26a69a
        border: 2px solid #FDFDFD
        text-align: left
        height: 35px
        &:last-child
            margin-bottom: 2em
    p
        color: $blanco
        margin-left: 20px

.ejemplo-grid2
    display: block
    div
        background: #26a69a
        border: 2px solid #FDFDFD
        height: 35px
    p
        color: $blanco
        font-size: 18px

.ejemplo-grid3
    div
        background: #26a69a
        border: 2px solid #FDFDFD
        text-align: left
        height: 35px
    p
        color: $blanco

.ejemplo-grid4
    div
        background: #26a69a
        border: 2px solid #FDFDFD
        &:last-child
            margin-bottom: 2em
    p
        color: $blanco
        font-size: 15px
        margin: 1em 0

.ejemplo-grid5
    div
        border: 2px solid #FDFDFD
    p
        color: $blanco
        margin: 1em 0
    .row0
        background: #ba68c8
    .row1
        background: #42A5F5
    .row2
        background: #26a69a
    .row3
        background: #ce93d8

.ejemplo-cajas
    margin: 20px 0px
    border: 3px solid purple
    background: #26a69a
    p
        line-height: 4
        font-size: 12px
        font-weight: normal
        color: #fdfdfd

.ejemplo-cajas > .hijo
    border: 1px solid #fdfdfd

.imagen
    margin-top: 0

.offsets
    .hijo
        padding: 2.5em
    p
        text-align: center

.img-breakpoints
    margin: 1em auto

.layout-base
    margin: 2em 0em
    color: $blanco
    p
        height: 25px
        width: 80%
        background-color: rgba(0,0,0,0.15)
        display: block
        margin: 27px auto
    .purple
        background: #ab47bc
        height: 70px
    .gray
        background: #90a4ae
        height: 300px
    .green
        background: #26a69a
        height: 300px

#footer
    background: #BA62C9
    .footer
        padding: 2em 0em
        color: #E1D4E6
        .tercio
            padding: 20px
            h5
                margin: 0.7em 0
                font-weight: 400
                font-size: 21px
                color: #E1D4E6
            p
                font-size: 14px
            iframe
                margin: 3.5px 0
            ul
                font-size: 13px
            .btn-fork
                font-size: 20px
                margin-left: 10px
                vertical-align: middle
        .contribute
            p
                margin-bottom: 0

    .copy
        height: 65px
        background: $lila
        color: $lila2
        span
            font-size: 12px
            margin: 5px 0px

.btn-subir
    display: none
    position: fixed
    top: inherit
    right: 35px
    bottom: 35px
    width: 70px
    text-align: center
    overflow: hidden
    z-index: 20
    span
        display: block
        color: $blanco
        font-size: 1.2em
        width: 60px
        line-height: 56px
        background: rgba(28,28,28,0.2)
        border-radius: 100px
        cursor: pointer
        padding-top: 0.2em
        transition: all 100ms linear
        &:hover,:focus
            background: rgba(#26a69a,0.8)


@include desde (movil)
    h3
        font-size: 27px
    .main
        p,ul
            font-size: $text-main-movil

    .caract-wrap
        margin: 5em 0em
        margin-bottom: 5em

    .caracteristicas
        margin: 3em 0
        h3
            font-size: 23px
        p
            max-width: 450px
        &__icon
            font-size: 65px
            color: $lila

    .ejemplo-cajas
        .hijo
            p
                font-size: 14px

    .ejemplo-grid
        div
            height: 45px

    .ejemplo-grid2
        div
            height: 45px

    .ejemplo-grid3
        div
            height: 45px

    #footer
        .footer
            .tercio
                text-align: center
                h5
                    font-size: 23px
                p
                    max-width: 410px
                    margin: 15px auto
                ul
                    font-size: 14px
        .copy
            span
                font-size: 14px

  
@include desde (tablet)
    h3
        font-size: 29px
    h4
        font-size: 21px

    .main
        p,ul
            font-size: $text-main-tablet    
    .nav
        width: 250px
        &__a
            font-size: 14px

    .caracteristicas
        margin: 3em 0
        h3
            font-size: 25px
        p
            max-width: 500px

    #footer
        .footer
            .tercio
                p
                    max-width: 500px
                ul
                    font-size: 14px

@include desde (web)
    code, pre
        font-size: 15px
    h3
        font-size: 35px
    h4
        font-size: 22px
    h5
        font-weight: 600
        font-size: 18px

    .wrap
        padding-left: 250px
    .nav
        width: 250px
        left: 0

    .caract-wrap
        margin: 7em 0em

    .caracteristicas
        padding: 0 30px
        p
            max-width: 445px
            text-align: justify

    .offsets
        .hijo
            padding: 3.5em

    #footer
        .footer
            .tercio
                text-align: left
                ul
                    font-size: 11.5px
                    margin: 5px
            .contribute
                p
                    margin-bottom: 0
        .copy
            span
                font-size: 15px

        
    

                    



