body.desarrollo,body.design,
 {
  margin: 0 !important;
  &:before {
    background: #19BD72;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    display: block;
    height: 36px;
    margin-bottom: 30px;
    position: relative;
    z-index: 900
  }

.papa,
.dad,
.container,
.contenedor{
    padding-top: 22px;
    margin-bottom: 10px;
    outline: 1px solid #19BD72;
    position: relative;
    .item,
    .hijo,
    .son {
      position: relative;
      padding-bottom: 22px;
      &:nth-child(even) {
        background: rgba(#36434d, .1);
      }
    }
    .papa,
    .dad,
    .container,
    .contenedor {
      margin-bottom: 0;
    }
  }
}

.desarrollo .papa:before,
.desarrollo .dad:before,
.desarrollo .container:before,
.desarrollo .contenedor:before,
.desarrollo .papa .hijo:after,
.desarrollo .papa .item:after,
.desarrollo .papa .son:after,
.desarrollo .dad .hijo:after,
.desarrollo .dad .item:after,
.desarrollo .dad .son:after,
.desarrollo .container .hijo:after,
.desarrollo .container .item:after,
.desarrollo .container .son:after,
.desarrollo .contenedor .hijo:after,
.desarrollo .contenedor .item:after,
.desarrollo .contenedor .son:after,
.design .papa:before,
.design .dad:before,
.design .container:before,
.design .contenedor:before,
.design .papa .hijo:after,
.design .papa .item:after,
.design .papa .son:after,
.design .dad .hijo:after,
.design .dad .item:after,
.design .dad .son:after,
.design .container .hijo:after,
.design .container .item:after,
.design .container .son:after,
.design .contenedor .hijo:after,
.design .contenedor .item:after,
.design .contenedor .son:after
 {
  content: attr(class);
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  padding: 0 5px;
  z-index: 1;
  bottom: 0;
  right: 0;
  position: absolute;
  display: table;
  width: 100%;
  height: 22px;
  line-height: 22px;
}

.desarrollo .papa,
.desarrollo .dad,
.desarrollo .contenedor,
.desarrollo .container,
.design .papa,
.design .dad,
.design .contenedor,
.design .container{
  &:before {
    background: rgba(#36434d, 0.8);
    color: azure;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.desarrollo .hijo:after,
.desarrollo .son:after,
.desarrollo .item:after,
.design .hijo:after,
.design .son:after,
.design .item:after{
  background: rgba(#cee5ec,1);
  color: #36434d;
}

.desarrollo .hijo.total:after,
.desarrollo .son.total:after,
.desarrollo .item.total:after,
.design .hijo.total:after,
.design .son.total:after,
.design .item.total:after {
  background: rgba(darken(#3996cc, 30%), .3);
}

body.desarrollo:before,body.design:before {
  content: "ZURIX: Tamaño básico";
}

@each $size, $screen-size in $breakpoints {
  @include desde($size) {
    body.desarrollo:before,body.design:before {
      content: "ZURIX: Tamaño #{$size} desde #{$screen-size}";
    }
  }
}