//Estilos básicos sin clases.
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    background  : $body-background;
    font-family : $body-font;
    color       : $body-color;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration : none;
    color           : $link-color;
  }

  p, blockquote, li {
    font-size   : $p-font-size;
    line-height : $p-line-height;
    list-style  : none;
  }

  p {
    margin : 0 0 $p-margin 0;
    &:last-child,
    &:only-child {
        margin: 0;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family    : $header-font;
    font-weight    : $header-font-weight;
    text-transform : $header-text-transform;
    color          : $header-color;
  }

  h1 {
    font-size : $h1-font-size;
    line-height: 1.2;
  }

  h2 {
    font-size : $h2-font-size;
  }

  h3 {
    font-size : $h3-font-size;
  }

  h4 {
    font-size : $h4-font-size;
  }

  h5 {
    font-size : $h5-font-size;
  }

  h6 {
    font-size : $h6-font-size;
  }