
// Se debe añadir la clase .zurix-menu , por default el menu es de orientacion verical.
.zurix-menu {
  background: #2d2d2d;
  // Reset estilos del menu
  &,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  li {
    position: relative;
    display: block;
    text-align: center;
    &:hover {
        background: rgba(#fff,.2);
        color: white
      }
    &:hover > ul{
      display: block;
    }
    ul {
      background: #3d3d3d;
      display: none;
      border: none;
      position: absolute;
      width: 100%;
      li{
        line-height: 2.5;
        ul{
          background: #4d4d4d;
        } 
      }
    }
    a {
      color: white;
      display: block;
      width: 100%;
      line-height: 2.5;
      padding: 0 4em;
    }
  }
}

// Mixin que genera el menu vertical dependiendo de breakpoints tableo o web
@mixin menuh($size) {
  @include from($size){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
      
    ul {
      position: absolute;
      top: 100%;
      ul {
        top: 0;
        left: 100%;
      }
    }
  }
}

.tablet-horizontal {
  @include menuh(tablet)
}

.web-horizontal {
  @include menuh(web)
}